*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dark;
}
a {
    text-decoration: none;
    color: #333;
}
h1, h2, h3 {
    margin-bottom: 1rem;
}
ul {
    list-style: none;
}
li {
    margin-bottom: 0.5rem;
    display: inline;
}
.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    width:100%
}
.navbar a {
    color: #fff;
    margin-left: 1rem;
}
.navbar a:hover {
    text-decoration: underline;
}
.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .nav-links {
    display: flex;
    align-items: center;
}
.navbar .nav-links a {
    font-size: 1rem;
}
.navbar .nav-links a:hover {
    color: #ff6347;
}
/* Navbar.css */
/* Styles for the navigation bar component */
/* Reset some default styles */